<!--The content below is only a placeholder and can be replaced.-->
<div class="container" >
  <!-- <div class="page-header" style="text-align:center">
    <h1>
      {{ title }}
    </h1>

    <p>
      A simple tool to help visualize matchup spreads given two characters played.
    </p>
  </div> -->

  <!-- <div>
    <h3> How to use </h3>
    <p>
      Numbers represent the character in the row to the left, and their matchup against the opponent in the column above.
      The more positive the number, the better matchup the character has. <br>
      Rows are selectable. Selecting multiple rows will generate a matchup spread where both characters are playing against their strongest matchups.
    </p>
  </div> -->

  <app-characters></app-characters>

  <div class="alert alert-warning" style="text-align:center">
    <strong>Note:</strong> Information derived from matchup spread found on smashwiki <a href="https://www.ssbwiki.com/Character_matchup_(SSBM)">here</a>.
    <br>Matchup information is most likely out-of-date and should not be taken seriously.
  </div>
</div>
