<div class="panel panel-primary" *ngIf="selectedRow.length > 1">
  <div class="panel-heading"><b>Result</b></div>

  <div class="table-responsive">
    <table style="text-align:center"  class="table table-bordered table-xtra-condensed table-hover">
        <tr>
          <td></td>
          <td *ngFor="let character of characters">
            <img src={{character.image}} data-toggle="tool-tip" title="{{character.name}}: {{character.id}}"/>
          </td>
        </tr>
        <tr *ngFor="let choice of selectedRow">
          <td>
            <img src={{characters[choice].image}} data-toggle="tool-tip" title="{{characters[choice].name}}: {{characters[choice].id}}"/>
          </td>
          <td *ngFor="let char of characters; let j = index" [class.active]="result[j] == choice">
            {{characters[choice].matchups[j]}}
          </td>
        </tr>
    </table>
  </div>

</div>
<div *ngIf="selectedRow.length == 0" style="text-align:center">
  <p> Click on a row to select your first character! </p>
</div>
<div *ngIf="selectedRow.length == 1" style="text-align:center">
  <p> Almost there! Select another character to view matchup suggestion. </p>
</div>

<div class="panel panel-default " >
  <div class="panel-heading">
    <b>Characters</b>
    <button type="button" class="btn btn-xs btn-default pull-right" (click)="resetSelected()" >Reset</button>
  </div>
  <div class="table-responsive">

    <table style="text-align:center" class="table table-bordered table-xtra-condensed table-hover">

        <tr>
          <td></td>
          <td *ngFor="let character of characters">
            <img src={{character.image}} data-toggle="tool-tip" title="{{character.name}}: {{character.id}}"/>
          </td>
        </tr>
        <tr *ngFor="let character of characters; let i = index" (click)="setClickedRow(i)" [class.active]="selectedRow.includes(i)">
          <td>
            <img src={{character.image}} data-toggle="tool-tip" title="{{character.name}}: {{character.id}}"/>
          </td>
          <td *ngFor="let char of characters; let j = index">
            {{character.matchups[j]}}
          </td>
        </tr>

    </table>
  </div>
</div>
