.table tr.active td {
  background-color:#428bca !important;
  color: white;
}

.table tr td.more {
  background-color:#428bca !important;
  /* background-color:#DFF0D8 !important; */
  color: white;
}

.table tr td.even {
  background-color: #FCEFA9 !important;
  color: black;
}

.table tr td.less {
  background-color: #F5A6A6 !important;
  color: black;
}






/* .panel-heading {
  width: 100%;
} */

.table-xtra-condensed > thead > tr > th,
.table-xtra-condensed > tbody > tr > th,
.table-xtra-condensed > tfoot > tr > th,
.table-xtra-condensed > thead > tr > td,
.table-xtra-condensed > tbody > tr > td,
.table-xtra-condensed > tfoot > tr > td {
  padding: 0px;
}
