.table tr.active td {
  background-color:#0D4864 !important;
  color: white;
}

.table tr td.active {
  background-color:#0D4864 !important;
  color: white;
}

.table-xtra-condensed > thead > tr > th,
.table-xtra-condensed > tbody > tr > th,
.table-xtra-condensed > tfoot > tr > th,
.table-xtra-condensed > thead > tr > td,
.table-xtra-condensed > tbody > tr > td,
.table-xtra-condensed > tfoot > tr > td {
  padding: 2px;
}
